.container{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.container h2 {
    text-align: center;
    font-size : 3rem;
}

.container .Btn{
    padding: 10px 30px;
    background-color: #7ac142;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 2rem;
    margin: 10px 0;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 50%;
}
.body .startBtn{
    margin-right: 10%;
}

.container .header{
    height: 30%;
}

.body .Insert_box{
    margin-bottom: 10%;
    gap: 10px;
    
}

.body .Insert_box>span{
    font-weight: bold;
    font-size : 1.2rem;
}

.body .Insert_box>input[type="text"]{
    font-weight: bold;
    width : 50%;
    font-size:1rem;
}
