.button_container {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    
}
.button_container .inqury_button {
    text-align: center;
    background-color: #ffffff;
    border: solid #cccccc 1px;
    cursor: pointer;
    font-size: 80%;
}